<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tll -->
      <package
            uri="http://www.example.org/tll"
            class="tll.TllPackage"
            genModel="model/metamodel/tll.genmodel"/>
   </extension>

</plugin>
